/*body {*/
/*  padding-top: 3rem;*/
/*  padding-bottom: 3rem;*/
/*  color: #5a5a5a;*/
/*  overflow-x: hidden;*/
/*}*/

/*.bouton-image:before {*/
/*  content: "";*/
/*  width: 500px;*/
/*  height: 500px;*/
/*  display: inline-block;*/
/*  margin-right: 5px;*/
/*  vertical-align: middle;*/
/*  background-color: transparent;*/
/*  background-position : center center;*/
/*  background-repeat:no-repeat;*/
/*}*/

/*.monBouton:before{*/
/*  background-image : url(https://firebasestorage.googleapis.com/v0/b/simplelogin-405ec.appspot.com/o/images%2F24d2abbd3596.jpg?alt=media&token=e4827cdd-dffa-4b41-bf89-13da4eee3d19);*/
/*}*/

/*!* HOMEPAGE CAROUSEL*!*/

/*!* Carousel base class *!*/
/*.carousel {*/
/*  margin-bottom: 4rem;*/
/*}*/
/*!* Since positioning the image, we need to help out the caption *!*/
/*.carousel-caption {*/
/*  bottom: 3rem;*/
/*  z-index: 10;*/
/*}*/

/*!* Declare heights because of positioning of img element *!*/
/*.carousel-item {*/
/*  height: 32rem;*/
/*}*/
/*.carousel-item > img {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  min-width: 100%;*/
/*  height: 32rem;*/
/*}*/


/*!* MARKETING CONTENT*/
/*-------------------------------------------------- *!*/

/*!* Center align the text within the three columns below the carousel *!*/
/*.marketing .col-lg-4 {*/
/*  margin-bottom: 1.5rem;*/
/*  text-align: center;*/
/*}*/
/*.marketing h2 {*/
/*  font-weight: 400;*/
/*}*/
/*!* rtl:begin:ignore *!*/
/*.marketing .col-lg-4 p {*/
/*  margin-right: .75rem;*/
/*  margin-left: .75rem;*/
/*}*/
/*!* rtl:end:ignore *!*/


/*!* Featurettes*/
/*------------------------- *!*/

/*.featurette-divider {*/
/*  margin: 5rem 0; !* Space out the Bootstrap <hr> more *!*/
/*}*/

/*!* Thin out the marketing headings *!*/
/*.featurette-heading {*/
/*  font-weight: 300;*/
/*  line-height: 1;*/
/*  !* rtl:remove *!*/
/*  letter-spacing: -.05rem;*/
/*}*/


/*!* RESPONSIVE CSS*/
/*-------------------------------------------------- *!*/

/*@media (min-width: 40em) {*/
/*  !* Bump up size of carousel content *!*/
/*  .carousel-caption p {*/
/*    margin-bottom: 1.25rem;*/
/*    font-size: 1.25rem;*/
/*    line-height: 1.4;*/
/*  }*/

/*  .featurette-heading {*/
/*    font-size: 50px;*/
/*  }*/
/*}*/

/*@media (min-width: 62em) {*/
/*  .featurette-heading {*/
/*    margin-top: 7rem;*/
/*  }*/
/*}*/

/*.bd-placeholder-img {*/
/*  font-size: 1.125rem;*/
/*  text-anchor: middle;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  user-select: none;*/
/*}*/

/*@media (min-width: 768px) {*/
/*  .bd-placeholder-img-lg {*/
/*    font-size: 3.5rem;*/
/*  }*/
/*}*/

/*!* END HOMEPAGE CAROUSEL *!*/



/*!*User profile component*!*/
/*.profile-head {*/
/*  transform: translateY(5rem)*/
/*}*/

/*.cover {*/
/*  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat*/
/*}*/
/*!*User profile component*!*/

/*body {*/
/*  background: #654ea3;*/
/*  background: linear-gradient(to right, #e96443, #904e95);*/
/*  min-height: 100vh*/
/*}*/

/** {*/
/*  box-sizing: border-box;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  font-family: "Nunito", sans-serif;*/
/*}*/

/*button {*/
/*  border: none;*/
/*  outline: none;*/
/*  width: 100%;*/
/*  padding: 15px 0;*/
/*  color: #fff;*/
/*  font-size: 16px;*/
/*  letter-spacing: 1px;*/
/*  background: #603bbb;*/
/*  cursor: pointer;*/
/*}*/

/*.login {*/
/*  width: 100%;*/
/*  min-height: 100vh;*/
/*  padding: 0 20px;*/
/*  background: #e9e9e9;*/
/*  display: flex;*/
/*}*/

/*.login .loginContainer {*/
/*  padding: 60px;*/
/*  margin: auto;*/
/*  width: 100%;*/
/*  max-width: 520px;*/
/*  min-height: 600px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  background: radial-gradient(*/
/*    ellipse at left bottom,*/
/*    rgba(22, 24, 47, 1) 0%,*/
/*    rgba(38, 20, 72, 0.9) 59%,*/
/*    rgba(17, 27, 75, 0.9) 100%*/
/*  );*/
/*  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);*/
/*}*/

/*.login .loginContainer label {*/
/*  color: white;*/
/*  margin: 14px 0;*/
/*  display: block;*/
/*  font-size: 22px;*/
/*  line-height: 1;*/
/*}*/

/*.login .loginContainer input {*/
/*  width: 100%;*/
/*  border: none;*/
/*  outline: none;*/
/*  font-size: 19px;*/
/*  padding: 10px;*/
/*  background: rgba(255, 255, 255, 0.1);*/
/*  color: #fff;*/
/*  letter-spacing: 1px;*/
/*}*/

/*.login .loginContainer .btnContainer {*/
/*  width: 100%;*/
/*  padding: 24px 0;*/
/*}*/

/*.login .loginContainer .btnContainer p {*/
/*  margin: 14px 0 0 0;*/
/*  text-align: right;*/
/*  color: #fff;*/
/*}*/

/*.login .loginContainer .btnContainer p span {*/
/*  color: yellow;*/
/*  font-weight: 500;*/
/*  letter-spacing: 0.5px;*/
/*  margin-left: 5px;*/
/*  cursor: pointer;*/
/*  transition: all 400ms ease-in-out;*/
/*}*/

/*.login .loginContainer .btnContainer p span:hover {*/
/*  color: red;*/
/*}*/

/*.login .loginContainer .errorMsg {*/
/*  color: red;*/
/*  font-size: 16px;*/
/*}*/

/*.hero {*/
/*  width: 100%;*/
/*  min-height: 100vh;*/
/*  background: radial-gradient(*/
/*    ellipse at left bottom,*/
/*    rgba(22, 24, 47, 1) 0%,*/
/*    rgba(38, 20, 72, 0.9) 59%,*/
/*    rgba(17, 27, 75, 0.9) 100%*/
/*  );*/
/*}*/

/*.hero nav {*/
/*  background: #603bbb;*/
/*  width: 100%;*/
/*  padding: 20px 40px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*}*/

/*.hero nav h2 {*/
/*  color: #fff;*/
/*}*/

/*.hero nav button {*/
/*  width: 86px;*/
/*  padding: 8px 0;*/
/*  background: #3a2b58;*/
/*}*/
