/*====Article Profile====*/
.article-profile{
  &__title{
    margin-bottom: 8rem;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
  &__btn{
    position: absolute;
    right: 4rem;
    top: -2rem;
    font-size: 2rem;
    transition: color .3s;

    &:hover,
    &:focus{
      color: var(--blue);
    }
  }
}

@media screen and (max-width: 1110px) {
  .article-profile{
    &__inner{
      flex-direction: column;
      align-items: center;
    }
  }
}