/*====Profile====*/

.profile {
  padding: 14rem 0 10rem;

  &__box {
    display: flex;
  }

  &__image {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-color: var(--blue);
    margin-right: 3rem;
  }

  &__list {
    margin-top: 1rem;
  }

  &__item {
    font-size: 1.8rem;
    margin-bottom: .6rem;
    font-style: normal;
  }
}