/*====Tournament====*/
.tournament {
  padding: 14rem 0 8rem;

  &__title {
    margin-bottom: 5rem;
  }
  &__image {
    max-width: 80rem;
    height: auto;
    margin-bottom: 1rem;
    display: block;
    margin: 0 auto 3rem;
  }

  &__text {
    max-width: 90rem;
    font-size: 1.8rem;
    font-style: normal;
    text-align: center;
    margin: 0 auto 6rem;
  }
}
