/*====Video====*/
.video {
  &__title {
    font-size: 2.6rem;
    color: var(--blue);
    margin-bottom: 6rem;
    text-align: center;
  }
  &__wrapper{
    max-width: 60rem;
    margin: 3rem auto;
  }
  &__link {
    display: block;
    max-width: 70rem;
    height: 40rem;
    margin: 0 auto;
    margin-bottom: 8rem;
    transition: opacity 0.3s;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__btn {
    margin: 6rem auto;
  }

  &__slider {
    transform: scale(0.6);
  }
}
@media screen and (max-width: 520px) {
  .video {
    &__slider {
      transform: scale(1);
    }
  }
}
