@font-face {
  font-family: 'ProximaNova-LightIt', sans-serif;
  src: url('../../assets/fonts/ProximaNova-LightIt.woff2') format('woff2'),
    url('../../assets/fonts/ProximaNova-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-RegularIt', sans-serif;
  src: url('../../assets/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
    url('../../assets/fonts/ProximaNova-RegularIt.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-BoldIt', sans-serif;
  src: url('../../assets/fonts/ProximaNova-BoldIt.woff2') format('woff2'),
    url('../../assets/fonts/ProximaNova-BoldIt.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*====Font icons====*/

@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icon/icomoon.eot?wf6f6o');
  src:  url('../../assets/fonts/icon/icomoon.eot?wf6f6o#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icon/icomoon.ttf?wf6f6o') format('truetype'),
    url('../../assets/fonts/icon/icomoon.woff?wf6f6o') format('woff'),
    url('../../assets/fonts/icon/icomoon.svg?wf6f6o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: '\e900';
}
.icon-phone:before {
  content: '\e942';
}
.icon-envelop:before {
  content: '\e945';
}
.icon-location:before {
  content: '\e947';
}
.icon-user:before {
  content: '\e971';
}
.icon-search:before {
  content: '\e986';
}
.icon-cog:before {
  content: '\e994';
}
.icon-upload2:before {
  content: '\e9c6';
}
.icon-point-up:before {
  content: '\ea03';
}
.icon-plus:before {
  content: '\ea0a';
}
.icon-minus:before {
  content: '\ea0b';
}
.icon-cross:before {
  content: '\ea0f';
}
.icon-checkmark:before {
  content: '\ea10';
}
.icon-enter:before {
  content: '\ea13';
}
.icon-exit:before {
  content: '\ea14';
}
.icon-play3:before {
  content: '\ea1c';
}
.icon-arrow-up2:before {
  content: '\ea3a';
}
.icon-arrow-down2:before {
  content: '\ea3e';
}
.icon-checkbox-checked:before {
  content: '\ea52';
}
.icon-checkbox-unchecked:before {
  content: '\ea53';
}
.icon-facebook2:before {
  content: '\ea91';
}
.icon-instagram:before {
  content: '\ea92';
}
.icon-whatsapp:before {
  content: '\ea93';
}
.icon-youtube:before {
  content: '\ea9d';
}
.icon-twitch:before {
  content: '\ea9f';
}
