/*====Colors====*/
:root {
  --black: #000;
  --white: #fff;
  --blue: #2387e7;
  --blueDark: #10171f;
  --blueLight: #cce5f0;
  --grey: #c1c1c1;
  --headerBg: #2f4f4f;
  --red: #ff0000;
  --yellow: #daa520;
  --btnBg: #36365f;
  --violet: #5b2f8a;
  --twitch: #a970ff;
  --green: #41bd17;
}
