@import 'vars';
@import 'mixin';
@import 'global';
@import 'fonts';

/*=====Bloks=====*/

@import './Blocks/header';
@import './Blocks/title';
@import './Blocks/btn';
@import './Blocks/menu';
@import './Blocks/lang';
@import './Blocks/search';
@import './Blocks/banner';
@import './Blocks/info';
@import './Blocks/news';
@import './Blocks/article';
@import './Blocks/slider';
@import './Blocks/feed';
@import './Blocks/contact-btn';
@import './Blocks/social';
@import './Blocks/tournament';
@import './Blocks/tab';
@import './Blocks/footer';
@import './Blocks/news-banner';
@import './Blocks/tab';
@import './Blocks/tournament';
@import './Blocks/about';
@import './Blocks/mission';
@import './Blocks/team';
@import './Blocks/partner';
@import './Blocks/career';
@import './Blocks/contact-intro';
@import './Blocks/map';
@import './Blocks/form';
@import './Blocks/contact';
@import './Blocks/video';
@import './Blocks/video-page';
@import './Blocks/box-user';
@import './Blocks/profile';
@import './Blocks/article-body';
@import './Blocks/articles-page';
@import './Blocks/form-article';
@import './Blocks/form-login';
@import './Blocks/form-add-tournament';
@import './Blocks/approve';
@import './Blocks/logo';
